body
{
  font-family: 'Akaya Telivigala', cursive;
  background: #bcf390;
}

.header_div
  {
  background: #505353;
  color: #ffffff; 
  }

  .header_div p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #4a4c4d;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #dedada;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px #4a4c4d;
}